<?xml version="1.0"?>
<!--
/**
 * Copyright © Webscale. All rights reserved.
 * See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="webscale" translate="label" sortOrder="9999" class="webscale-config-tab">
            <label>Webscale</label>
        </tab>
        <section id="cache_exclusions" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Cache Exclusions</label>
            <tab>webscale</tab>
            <resource>Magento_Backend::admin</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Yes/No</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="configuration" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Configuration</label>
                <field id="dynamic_rows" translate="label" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Query strings params to exclude:</label>
                    <frontend_model>Webscale\CacheExclusions\Block\Adminhtml\Form\Field\QueryForSearch</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <comment><![CDATA[<b>Example</b>: <em class="tag">utm_source</em>, <em class="tag">utm_user</em>, etc]]></comment>
                </field>
            </group>
        </section>
   </system>
</config>
